.comments {
  max-width: 500px;
}

.reviewHeader {
  font-weight: bolder;
  text-align: center;
  margin-bottom: 5px;
}

.submitReview {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
